<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean name="userService" class="cn.wulin.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean name="departmentService" class="cn.wulin.service.impl.DepartmentServiceImpl">
		<property name="departmentDao" ref="departmentDao"></property>
	</bean>
	<bean name="typeService" class="cn.wulin.service.impl.TypeServiceImpl">
		<property name="typeDao" ref="typeDao"></property>
	</bean>
	<bean name="testService" class="cn.wulin.service.impl.TestServiceImpl">
		<property name="testDao" ref="testDao"></property>
	</bean>
	<bean name="addressService" class="cn.wulin.service.impl.AddressServiceImpl">
		<property name="addressDao" ref="addressDao"></property>
	</bean>
	<bean name="articleService" class="cn.wulin.service.impl.ArticleServiceImpl">
		<property name="articleDao" ref="articleDao"></property>
	</bean>
	<bean name="authorService" class="cn.wulin.service.impl.AuthorServiceImpl">
		<property name="authorDao" ref="authorDao"></property>
	</bean>
	<bean name="treeService" class="cn.wulin.service.impl.TreeServiceImpl">
		<property name="treeDao" ref="treeDao"></property>
	</bean>
	<bean name="appleService" class="cn.wulin.service.impl.AppleServiceImpl">
		<property name="appleDao" ref="appleDao"></property>
	</bean>
	



</beans>
